.header{
    text-align: center;
    font-style: oblique;
}

.grosCarre{
margin: auto;
width: 20%;
padding-bottom: 5px;
border-radius: 10px 10px 0px 0px;
background-color: white;
}

.content{
    margin: auto;
    padding-top: 1%;
    background-color: white;
    width: auto;
    height: 350px;
}

.add-item{
    margin: auto;
    width: 90%;
    background-color: white;
}


img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

body{
background-color: rgb(216, 211, 211);
}

.styled {
    margin-left: 5px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 50px;
    background-color: rgb(60, 49, 163);
    background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgb(178, 177, 235);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

input[type=text] {
    border: 2px solid rgb(60, 49, 163);
    border-radius: 4px;
    width: 70%;
    line-height: 2;
}
